.title {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 40px 50px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #7909e1;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(163, 13, 13, 0.2);
}

hr {
    color: rgb(212, 120, 0);
    border: 2px solid;
}

.align {
    text-align: center;
}

@media(max-width: 792px) {
    .title{
        font-size: 35px;
    }

    iframe {
        width: 400px;
        height: 400px;
    }
}