<div class="container">
    <h1 class="title align">Videojuegos más esperados</h1>
    <hr>
    <h3 class="subtitle align">Remake de Resident Evil 4</h3>
    <hr>
    <p>
        Con una introducción de música de guitarra española ha aparecido en escena el esperado remake del famoso
        Resident Evil 4. La cuarta entrega de la saga de Capcom siempre ha sido una de las más queridas y tras los
        remakes de Resident Evil 2 y 3, era cuestión de tiempo que el 4 llegara. Sony ha confirmado que tendrá también
        contenido para jugarlo con PS VR2, el nuevo sistema de realidad virtual para utilizar en las consolas
        PlayStation 5.
    </p><br>
    <div class="align">
        <iframe width="600" height="400" [src]="video1 | domseguro:'https://www.youtube.com/embed/' "
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <br>
    <hr>
    <h3 class="subtitle align">Street Fighter 6</h3>
    <hr>
    <p>
        Capcom había confirmado que la legendaria saga de juegos de pelea, "Street Fighter" regresaba con una sexta
        entrega y en este State of Play ha dejado ver más del título. En él tráiler se ha podido ver su jugabilidad por
        primera vez mostrando a míticos personajes como Chun-Li o Ryu y exhibiendo un apartado visual espectacular que
        destaca especialmente en las animaciones de los diferentes ataques. Además se ha podido ver que los jugadores
        podrán controlar a personajes y recorrer una ciudad para explorar en lo que parece ser un modo aventura, algo
        novedoso en la saga. El título saldrá en 2023 en PlayStation 4 y PlayStation 5.
    </p><br>
    <div class="align">
        <iframe width="600" height="400" [src]="video2 | domseguro:'https://www.youtube.com/embed/' "
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <br>
    <hr>
    <h3 class="subtitle align">Final Fantasy XVI</h3>
    <hr>
    <p>
        Era uno de los títulos más esperados de todos los State of Play desde que fue anunciado en septiembre de 2020.
        La nueva entrega de "Final Fantasy" generó mucha expectación desde que se supo que sería dirigida por Naoki
        Yoshida, el aclamado director de "Final Fantasy XIV" desde a "Real Reborn" que supo insuflar a la entrega numero
        14 de la saga nuevos aires y revitalizarla en el espacio de los juegos online gracias a su sistema de combate y
        su apuesta por una narrativa cuidada. El primer tráiler de "Final Fantasy XVI" captó la atención por el retorno
        a la ambientación fantástica medieval y la promesa de un combate ágil. Este nuevo tráiler con gameplay ha
        mostrado y confirmado que el sistema de combate será rápido, fluido y muy espectacular así como que las míticas
        invovaciones, ahora conocidas como Eikon (Titan, Garuda, Shiva, Bahamut, Ifrit...) tendrán un peso fundamental
        en la historia. Y estas, además, lucen más intimidantes que nunca.
    </p><br>
    <div class="align">
        <iframe width="600" height="400" [src]="video3 | domseguro:'https://www.youtube.com/embed/' "
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <br>
    <hr>
    <h3 class="subtitle align">The Callisto Protocol</h3>
    <hr>
    <p>
        Este título de terror que recuerda a "Dead Space" por mostrar a una especie de zombis en el espacio se ha dejado
        ver en un nuevo tráiler y ha confirmado su fecha de lanzamiento: el 2 de diciembre.
    </p><br>
    <div class="align">
        <iframe width="600" height="400" [src]="video4 | domseguro:'https://www.youtube.com/embed/' "
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <br><br>
    <hr class="footer">
    <footer class="container">
        <h3>Fuentes</h3>
        <ul>
            <li>
                <a href="https://cnnespanol.cnn.com/category/videojuegos/">CNN</a>
            </li>
        </ul>
    </footer>
    <hr class="footer">
    <br>
</div>