.title {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 40px 50px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #2127e8;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(31, 8, 162, 0.241);
}

hr {
    color: rgb(0, 247, 255);
    border: 2px solid;
}

hr.footer {
    color: rgb(255, 10, 10);
    border: 2px solid;
}

footer {
    padding: 20px;
}

ul > li {
    list-style: none;
}

a {
    text-decoration: none;
}

.align {
    text-align: center;
}

@media(max-width: 792px) {
    .title{
        font-size: 35px;
    }

    iframe {
        width: 400px;
        height: 400px;
    }
}