<div class="container">
    <h1 class="title align">videogames</h1>
    <hr>
    <h3 class="subtitle align">¿Qué es?</h3>
    <hr>
    <p>
        Un videojuego es una aplicación interactiva orientada al entretenimiento que, a través de ciertos mandos o
        controles, permite simular experiencias en la pantalla de un televisor, una computadora u otro dispositivo
        electrónico. Se diferencian de otras formas de entretenimiento, en que deben ser interactivos; es decir, los
        usuarios deben involucrarse activamente con el contenido.
    </p>
    <hr>
    <h3 class="subtitle align">Historia</h3>
    <hr>
    <p>
        Desde sus inicios los videojuegos han estado limitados a dos grandes claves: el potencial que ofrecía el
        hardware de cada época y las capacidades de los desarrolladores para sortear sus limitaciones y aprovecharlo al
        máximo. Esto permitió la llegada de juegos sorprendentes en momentos en los que a nivel técnico parecían algo
        imposible, y también ha facilitado una evolución sostenida que nos ha llevado a un momento en el que el
        fotorrealismo se ha empezado a poner «a tiro de piedra».
    </p>
    <p>
        En 1966 Ralph Baer empezó a desarrollar junto a Albert Maricon y Ted Dabney, un proyecto de videojuego llamado
        Fox and Hounds dando inicio al videojuego doméstico. Este proyecto evolucionaría hasta convertirse en la
        Magnavox Odyssey, el primer sistema doméstico de videojuegos lanzado en 1972 que se conectaba a la televisión y
        que permitía jugar a varios juegos pregrabados.
    </p>
    <div class="container align">
        <img
            src="https://www.fib.upc.edu/retro-informatica/historia/videojocs/mainColumnParagraphs/01/image/ralphbaer-brownbox.jpg" />
    </div>
    <br>
    <p>
        Los años 80 comenzaron con un fuerte crecimiento en el sector del videojuego alentado por la popularidad de los
        salones de máquinas recreativas y de las primeras videoconsolas aparecidas durante la década de los 70. Durante
        estos años destacan sistemas como Oddyssey 2 (Phillips), Intellivision (Mattel), Colecovision (Coleco),
        Atari 5200, Commodore 64, Turbografx (NEC). Por otro lado en las máquinas recreativas triunfaron juegos como el
        famoso Pacman (Namco), Battle Zone (Atari), Pole Position (Namco), Tron (Midway) o Zaxxon (Sega).
    </p>
    <div class="align d-flex justify-content-evenly">
        <img width="400" class="img-fluid" src="https://miro.medium.com/max/1400/1*owpzaJRHL8vh7VPORPMkOg.png">
        <img width="400" class="img-fluid"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/SNES.jpg/1280px-SNES.jpg">
    </div>
    <br>
    <p>
        En 1985 apareció Super Mario Bros, que supuso un punto de inflexión en el desarrollo de los juegos electrónicos,
        ya que la mayoría de los juegos anteriores sólo contenían unas pocas pantallas que se repetían en un bucle y el
        objetivo simplemente era hacer una alta puntuación. El juego desarrollado por Nintendo supuso un estallido de
        creatividad. Por primera vez teníamos un objetivo y un final en un videojuego. En los años posteriores otras
        compañías emularon su estilo de juego.
    </p>
    <div class="align d-flex justify-content-evenly">
        <img width="400" class="img-fluid"
            src="https://www.trecebits.com/wp-content/uploads/2020/11/Super-Mario-Bros-historia.jpg">
        <img width="400" height="300"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Game-Boy-FL.jpg/375px-Game-Boy-FL.jpg">
    </div>
    <br>
    <p>
        En el 2000 Sony lanzó la anticipada PlayStation 2 y Sega lanzó otra consola con las mismas características
        técnicas de la Dreamcast, nada más que venia con un monitor de 14 pulgadas, un teclado, altavoces y los mismos
        mandos llamados Dreamcast Drivers 2000 Series CX-1. <br><br> Microsoft entra en la industria de las consolas creando la Xbox en 2001.
    </p>
    <p>
        Nintendo lanzó el sucesor de la Nintendo 64, la Gamecube, y la primera Game Boy completamente nueva desde la
        creación de la compañía, la Game Boy Advance. Sega viendo que no podría competir, especialmente con una nueva
        máquina como la de Sony, anunció que ya no produciría hardware, convirtiéndose sólo en desarrolladora de
        software en 2002.
        
        El ordenador personal PC es la plataforma más cara de juegos pero también la que permite mayor flexibilidad.
        Esta flexibilidad proviene del hecho de poder añadir al ordenador componentes que se pueden mejorar
        constantemente, como son tarjetas gráficas o de sonido y accesorios como volantes, pedales y mandos, etc. Además
        es posible actualizar los juegos con parches oficiales o con nuevos añadidos realizados por la compañía que creó
        el juego o por otros usuarios.
    </p>
    <div class="align d-flex justify-content-evenly">
        <img width="400" class="img-fluid"
            src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/980px/public/media/image/2014/03/287909-20-mejores-juegos-ps2.jpg?itok=9_MSXRkI">
        <img width="400"
            src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Gameboy-Advance-SP-Mk2.jpg">
    </div>
    <br><br><br>
    <hr class="footer">
    <footer class="container">
        <h3>Fuentes</h3>
        <ul>
            <li>
                <a href="https://www.fib.upc.edu/retro-informatica/historia/videojocs.html">Historia de los Videojuegos</a>
            </li>
            <li>
                <a href="https://definicion.de/videojuego/">¿Qué es un videojuego?</a>
            </li>
        </ul>
    </footer>
    <hr class="footer">
</div>