<div class="container">
    <h2 class="title align">Acerca del sistema</h2>
    <hr>
    <br>
    <p>
        En nuestro sistema se incluye un botón de accesibilidad,
        el cual se encuentra en la barra de navegación superior con el símbolo
        siguiente <b>(&#9855;)</b>, para los usuarios que padezcan de alguna discapacidad visual, 
        con la finalidad de otorgar una mejor experiencia de navegación y confortable con el 
        sistema.
    </p>
    <p>
        <b>Algunas de las funciones son las siguientes:</b>
    </p>
    <br>
    <div class="d-flex justify-content-evenly">
        <img height="300" src="../../assets/images/accesibilidad.jpg">
        <div class="align-self-center">
            <h4>Funciones: </h4>
            <li>
                Aumentar el tamaño de la fuente (letra).
            </li>
            <li>
                Disminuir el tamaño de la fuente (letra).
            </li>
            <li>
                Regresar al tamaño predeterminado de la fuente (letra).
            </li>
            <li>
                Cambiar el color de fondo para los usuarios que lo requieran <br>
                &nbsp;&nbsp;&nbsp; o bien si asi lo desean.
            </li>
            <li>
                Hacer que la fuente (letra) se vea en <b>Negritas</b>.
            </li>
        </div>
    </div>
    <br><br>
    <p>
        Contamos con un apartado donde se pueden poner en contacto el cual
        está ubicado en la barra de navegación superior al lado del logotipo
        llamado <b>"Contacto"</b>, el cual tiene la finalidad de contactarnos haciendo nos 
        llegar sus dudas o problemas que en su momento les surjan de igual forma trataremos de 
        responder lo más pronto que sea posible.
    </p>
</div>
