.title {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 0 50px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #18b615;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #c0b9b9,
        7px 7px 0px rgba(4, 159, 6, 0.241);
}

hr {
    color: rgb(19, 120, 220);
    border: 2px solid;
}

.align {
    text-align: center;
}

.principal {
    width: 600px;
    border-radius: 20px;
    border: 2px solid rgb(23, 170, 210);
    padding: 0;
}

@media(max-width: 792px) {
    .title{
        font-size: 35px;
    }
}